<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <title>Language-Link</title>
</head>
<body>
    <div class="global-container"> 
    <div class="banner-container"></div>
    <div class="question-post-container">
        <input type="text", class="question-input-title" placeholder="輸入標題" name="question-input-title" id="question-input-title">
        <input type="text", class="question-input-content" placeholder="輸入疑問...." name="question-input-content" id="question-input-content">
        <input type="submit" , class="question-buttom" value="送出" id="question-buttom">
        <div>
    <div class="content-container" id="content-container">
        <div class="observer"></div>
    </div>
    <div id="commentModal" class="commentModal" >
    </div>
    <div class="footer-container"></div>
    </div>
    <script  src="./static/index.js"></script>
</body>
</html>